h1 {
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  transform: translate3d(-100%, -100% 0);

}

.anime-page {
  width: 100%;

  &__tittle {
    display: flex;
    flex-direction: column;

    &-ru {
      color: var(--black-color);
      font-family: 'Jura';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 26px;
    }

    &-en {
      color: var(--grey-color);
      font-family: 'Jura';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__short {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 275px 1fr;
    column-gap: 30px;

    &-cover {
      display: flex;
      width: 100%;
      height: 380px;
      pointer-events: none;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
      background: var(--grey_shade-color);
      overflow: hidden;
    }

    &-sheet {
      width: 100%;
      position: relative;

      &-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-item {
          display: grid;
          grid-template-columns: 150px 1fr;
          position: relative;
          width: 100%;
          min-height: 40px;
          padding: 8px 0px;
          flex-direction: row;
          align-items: center;
          border-bottom: solid 1px var(--black-color);

          & .anime-sheet-text {
            color: var(--black-color);
            font-family: 'Jura';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            transition: color 250ms var(--default-cubic);
          }

          &-translate,
          &-genre {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }

          & .link {

            &:hover {
              color: var(--secondary-color);
            }

            &:focus {
              background: var(--secondary-color);
              color: var(--white-color);
              border-radius: 5px;
              outline: none;
            }

            &.t-cap {
              text-transform: capitalize;

              & li {
                text-transform: capitalize;
              }
            }
          }

          &-name {
            color: var(--black-color);
            font-family: 'Jura';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
          }

          & .li-link {
            display: flex;
            flex-direction: row;
            gap: 13px;

            & li {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;

              &::before {
                content: '';
                position: absolute;
                right: -7px;
                width: 1px;
                height: 100%;
                background: var(--black-color-20);
              }

              &:nth-last-child(1) {

                &::before {
                  content: '';
                  position: absolute;
                  width: 0px;
                  height: 0%;
                }
              }

              & a {
                color: var(--black-color);
                transition: color 250ms var(--default-cubic);
              }
            }
          }
        }
      }
    }
  }

  &__desc {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-tittle {
      color: var(--black-color);
      font-family: 'Jura';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    &-text {
      color: var(--black-color);
      font-family: 'Jura';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.player-tittle {
  color: var(--black-color);
  font-family: 'Jura';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}
