.header {
  width: 100%;
  height: 80px;
  border-bottom: solid 3px var(--secondary_light-color);

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 208px;
    height: 47px;
    transition: transform 250ms var(--default-cubic);

    &:hover {
      transform: scale(1.05);
    }

    &-href {
      &:focus {
        outline: solid 2px var(--secondary_light-color);
        border-radius: 4px;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__form {
    width: calc(343px + 150px);
    height: 47px;
    border: solid 1px var(--grey-color);
    border-radius: 9px;
    padding: 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &-btn {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 4px;
      outline: none;
      background: transparent;
      cursor: pointer;

      &:hover {

        & .header__form-btn-svg {
          fill: var(--black-color);
        }
      }

      &:focus {
        outline: solid 1px var(--primary-color);

        & .header__form-btn-svg {
          fill: var(--black-color);
        }
      }

      &-svg {
        width: 100%;
        height: 100%;
        fill: var(--grey-color);
        transition: fill 250ms var(--default-cubic);
      }
    }

    &-label {
      // width: 297px;
      width: 450px;
      height: 100%;
      outline: none;
      border: none;
      background: transparent;

      &-input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        color: var(--black-color);
        font-family: 'Jura';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        overflow: hidden;

        &:hover {

          &::placeholder {
            color: var(--black-color);
          }
        }

        &:active {

          &::placeholder {
            transform: translate3d(100%, 0, 0);
            opacity: 0;
            visibility: hidden;
          }
        }

        &:focus {
          outline: none;

          &::placeholder {
            transform: translate3d(100%, 0, 0);
            opacity: 0;
            visibility: hidden;
          }
        }

        &::placeholder {
          color: var(--grey-color);
          font-family: 'Jura';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          transition: color 250ms var(--default-cubic),
            transform 250ms var(--default-cubic),
            opacity 250ms var(--default-cubic),
            visibility 250ms var(--default-cubic);
        }
      }
    }
  }

  &__nav {
    // width: 704px;
    width: 520px;
    height: 40px;
    display: flex;
    flex-direction: row;

    &-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-item {
        color: var(--black-color);
        font-family: 'Jura';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        &:nth-last-child(2) {
          display: none;
        }

        &-href {
          color: var(--black-color);
          font-family: 'Jura';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          transition: color 250ms var(--default-cubic);

          &.active {
            color: var(--secondary-color);
          }

          &:hover {
            color: var(--secondary-color);
          }

          &:focus {
            color: var(--white-color);
            background: var(--primary-color);
            border-radius: 3px;
            outline: solid 5px var(--primary-color);
            outline-offset: -1px;
          }
        }

        &-btn {
          width: 39px;
          height: 39px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--secondary_light-color);
          box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.2);
          border: none;
          border-radius: 9px;
          outline: solid 2px var(--secondary_light-color);
          outline-offset: -2px;
          cursor: pointer;
          transition: box-shadow 250ms var(--default-cubic),
            background 250ms var(--default-cubic),
            outline 250ms var(--default-cubic),
            outline-offset 250ms var(--default-cubic);

          &:hover {
            background: var(--secondary-color);
            outline: solid 2px var(--secondary-color);
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
          }

          &:focus {
            background: var(--secondary-color);
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
            outline: solid 2px var(--secondary-color);
            outline-offset: 4px;
          }

          &:active {
            background: var(--secondary-color);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0), inset 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
            outline: solid 2px var(--secondary-color);
            outline-offset: -2px;
            transition: box-shadow 10ms var(--default-cubic),
              background 10ms var(--default-cubic),
              outline 10ms var(--default-cubic),
              outline-offset 10ms var(--default-cubic);
          }

          &-svg {
            width: 22px;
            height: 22px;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
            fill: var(--white-color);
          }
        }
      }
    }
  }
}
