.main {
  width: 100%;
  background: var(--white-color);

  @include mobile {
    max-width: 100vw;
  }

  &__container {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 47px;
    overflow: hidden;

    @include tablet {
      gap: 30px;
    }

    @include small-tablet {
      gap: 0px;
    }
  }
}
