.ongoing {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__tittle {
    color: var(--black-color);
    font-family: 'Jura';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 15px;

    @include tablet {
      font-size: 24px;
      margin-bottom: 13px;
    }

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 6px;
    }
  }
}

.anime-swiper {
  position: relative;
  width: 1178px;
  height: 100%;
  overflow: hidden;

  @include big-desktop {
    width: 980px;
  }

  @include tablet {
    width: 751px;
  }

  @include small-tablet {
    min-width: 738px;
    max-width: 900px;
    overflow: visible;
  }

  @include mobile {
    min-width: 300px;
    max-width: 320px;
    margin: 0 !important;
  }

  &__ongoing {
    width: 100%;
    height: 100%;
    display: flex;
    will-change: transform;

    &-slide {
      max-width: 158px;
      overflow: visible;
      display: flex;
      flex-direction: column;
      margin-top: 0px !important;

      @include small-tablet {
        max-width: 120px;
      }

      &-href {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 7px;
        color: var(--black-color);
        font-family: 'Jura';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        rotate: 0deg;
        transition: all 250ms var(--default-cubic);

        @include small-tablet {
          font-size: 12px;
          line-height: 14px;
          gap: 3px;
        }

        &:hover {
          color: var(--primary_shade-color);
        }
      }

      &-prew {
        width: 158px;
        height: 245px;
        display: flex;
        flex-direction: column;
        position: relative;

        @include small-tablet {
          width: 120px;
          height: 180px;
        }

        &-img {
          border-radius: 9px;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
        }

        &-score {
          width: 34px;
          height: 13px;
          background: var(--green_input-color);
          border-radius: 0px 4px 4px 0px;
          position: absolute;
          z-index: 1;
          top: 10px;
          left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--white-color);
          font-family: 'Jura';
          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 0px;

          @include small-tablet {
            width: 25px;
            height: 11px;
            font-size: 9px;
          }
        }

        &-series {
          position: absolute;
          z-index: 1;
          bottom: 17px;
          right: 0;
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-radius: 4px 0px 0px 4px;
          color: var(--white-color);
          font-family: 'Jura';
          font-style: normal;
          font-weight: 700;
          font-size: 10px;
          line-height: 0px;
          background: var(--primary-color);

          @include small-tablet {
            font-size: 9px;
          }
        }
      }
    }
  }
}

.swiper-nav {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 33px;
  margin-top: 20px;
  overflow: hidden;

  @include tablet {
    padding: 0;
    margin-top: 0;
  }

  @include small-tablet {
    height: 40px;
    padding: 0 15px;
  }

  @include mobile {
    width: 95vw;
    padding: 0px;
  }

  &-prev,
  &-next {
    position: relative;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 250ms var(--default-cubic);

    @include tablet {
      width: 35px;
      height: 35px;
    }

    @include small-tablet {
      width: 25px;
      height: 25px;
    }

    &:hover {
      transform: scale(1.15);

      & .swiper-nav-prev-svg,
      & .swiper-nav-next-svg {
        fill: var(--primary-color);
      }
    }

    &:active {
      transform: scale(0.9);

      & .swiper-nav-prev-svg,
      & .swiper-nav-next-svg {
        fill: var(--primary_shade-color);
      }
    }



    &-svg {
      width: 70%;
      height: 70%;
      fill: var(--black-color);
      transition: fill 250ms var(--default-cubic);
    }
  }

  &-prev {
    &-svg {
      rotate: -90deg;
    }
  }

  &-next {
    &-svg {
      rotate: 90deg;
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    width: 850px !important;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 10px;

    @include big-desktop {
      width: 770px !important;
      justify-content: start;
    }

    @include tablet {
      width: 640px !important;
      justify-content: start;
    }

    @include small-tablet {
      width: 700px;
    }

    @include mobile {
      width: 74vw !important;
    }

    & .swiper-pagination-bullet {
      min-width: 35px;
      max-width: 35px;
      min-height: 35px;
      max-height: 35px;
      border-radius: 50px;
      border: solid 1px var(--dark-color);
      background: #00000000;
      opacity: 0.5;
      transition: all 250ms var(--default-cubic);

      @include tablet {
        min-width: 28px;
        max-width: 28px;
        min-height: 28px;
        max-height: 28px;
      }

      @include small-tablet {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
      }

      &:hover {
        transform: scale(.9);
        background: var(--primary-color);
        box-shadow: 1px 1px 20px 5px var(--dark-color-20);
      }

      &:active {
        transform: scale(.7);
        background: var(--primary_light-color);
      }

      &-active {
        opacity: 1;
        border: solid 2px var(--primary-color) !important;
        transform: scale(.93);
        background: var(--primary-color);
      }
    }
  }
}

.swiper-pages-pos {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  background: transparent;
  color: rgba($color: #000000, $alpha: .4);
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 0px;
}
