<header class="header">
  <div class="header__container container">
    <picture class="header__logo">
      <a class="header__logo-href transition" href="../../../">
        <img loading="lazy" src="../img/logo.svg" class="image header__logo-img" width="208" height="47"
          alt="Логотип сайта">
      </a>
    </picture>
    <form action="#" class="form header__form">
      <button class="btn-reset form__btn header__form-btn">
        <svg class="header__form-btn-svg">
          <use xlink:href="../img/sprite.svg#loop"></use>
        </svg>
      </button>
      <label class="form__label header__form-label">
        <input type="text" name="Поиск" class="input-reset form__input header__form-label-input"
          placeholder="Поиск аниме по сайту" autocomplete="off">
      </label>
      <div class="header__form-search-zone"></div>
    </form>
    <nav class="nav header__nav" title="Навигация по сайту">
      <ul class="nav__list list-reset header__nav-list">
        <li class="nav__item header__nav-list-item"><a href="../pages/top"
            class="nav__link header__nav-list-item-href transition">ТОП 100</a></li>
        <li class="nav__item header__nav-list-item"><a href="../pages/schedule"
            class="nav__link header__nav-list-item-href transition">РАСПИСАНИЕ</a></li>
        <li class="nav__item header__nav-list-item"><a href="../pages/2022"
            class="nav__link header__nav-list-item-href transition">АНИМЕ 2022</a></li>
        <li class="nav__item header__nav-list-item"><a href="../pages/bookmarks"
            class="nav__link header__nav-list-item-href transition">МОИ ЗАКЛАДКИ</a></li>
        <li class="nav__item header__nav-list-item"><button class="header__nav-list-item-btn">
            <svg class="header__nav-list-item-btn-svg">
              <use xlink:href="../img/sprite.svg#login"></use>
            </svg>
          </button></li>
      </ul>
    </nav>
  </div>
</header>
