<aside class="aside">
  <div class="aside__container">
    <div class="aside__nav">
      <ul class="aside__nav-list list-reset">
        <!-- жанры -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Жанры</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/china.html">Китайские</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/3D.html">3D</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/senen.html">Сёнен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/senen-ai.html">Сёнен-ай</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/seinen.html">Сейнен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/sedze-ai.html">Сёдзё-ай</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/sedze.html">Сёдзё</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/comedy.html">Комедия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/romantic.html">Романтика</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/school.html">Школа</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/madness.html">Безумие</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/vampire.html">Вампиры</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/military.html">Военное</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/garem.html">Гарем</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/demon.html">Демоны</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/detective.html">Детектив</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/teen.html">Детское</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/drama.html">Драма</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/game.html">Игры</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/story.html">Исторический</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/magic.html">Магия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/cars.html">Машины</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/meha.html">Меха</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/music.html">Музыка</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/parody.html">Пародия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/everylife.html">Повседневность</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/police.html">Полиция</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/adventures.html">Приключения</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/psy.html">Психологическое</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/samurai.html">Самураи</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/supernatural.html">Сверхъестественное</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/sport.html">Спорт</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/horros.html">Ужасы</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/fantastic.html">Фантастика</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/fantasy.html">Фэнтези</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/action.html">Экшен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/etti.html">Этти</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/genre/thriller.html">Триллер</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- статус -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Статус</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/">Онгоинги</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/status/complited.html">Завершенные</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/status/anons.html">Анонс</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- Тип -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Тип</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/type/tv.html">ТВ-сериал</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/type/ova.html">OVA</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/type/ona.html">ONA</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/type/film.html">Фильм</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="/pages/type/special.html">Спешл</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- Сезон -->
        <!-- <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Сезон</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Лето 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Лето 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Лето 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Лето 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Лето 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Осень 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Зима 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href transition" href="#no-scrolling">Весна 2017</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="aside__news">
      <h3 class="aside__news-tittle">Новости</h3>
      <ul class="aside__news-list list-reset"></ul>
    </div>
    <div class="aside__new-series">
      <h3 class="aside__new-series-tittle">Новые серии</h3>
      <ul class="aside__new-series-list list-reset">
      </ul>
    </div>
  </div>
</aside>
