<aside class="aside">
  <div class="aside__container">
    <div class="aside__nav">
      <ul class="aside__nav-list list-reset">
        <!-- жанры -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Жанры</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Китайские</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">3D</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сёнен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сёнен-ай</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сейнен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сёдзё-ай</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сёдзё</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Комедия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Романтика</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Школа</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Безумие</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Боевые искусства </a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Вампиры</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Военное</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Гарем</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Демоны</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Детектив</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Детское</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Драма</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Игры</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Исторический</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Магия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Машины</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Меха</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Музыка</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Пародия</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Повседневность</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Полиция</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Приключения</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Психологическое</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Самураи</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Сверхъестественное</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Спорт</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Супер сила</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Ужасы</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Фантастика</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Фэнтези</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Экшен</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Этти</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Триллер</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- статус -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Статус</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Онгоинги</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Завершенные</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Анонс</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- Тип -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Тип</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">ТВ-сериал</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">OVA</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">ONA</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Фильм</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Спешл</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
        <!-- Сезон -->
        <li class="aside__nav-list-item">
          <div class="aside__nav-btn">
            <div class="aside__nav-btn-rect"></div>
            <a class="aside__nav-btn-href" href="#no-scrolling">Сезон</a>
          </div>
          <div class="aside__nav-dropdown">
            <ul class="aside__nav-dropdown-list list-reset">
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2022</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Лето 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2021</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Лето 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2020</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Лето 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2019</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Лето 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2018</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Лето 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Осень 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Зима 2017</a>
              </li>
              <li class="aside__nav-dropdown-list-item">
                <a class="aside__nav-dropdown-list-item-href" href="#no-scrolling">Весна 2017</a>
              </li>
            </ul>
            <div class="aside__nav-dropdown-rect"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="aside__news">
      <h3 class="aside__news-tittle">Новости</h3>
      <ul class="aside__news-list list-reset"></ul>
    </div>
    <div class="aside__new-series">
      <h3 class="aside__new-series-tittle">Новые серии</h3>
      <ul class="aside__new-series-list list-reset">
      </ul>
    </div>
  </div>
</aside>
