<footer class="footer">
  <div class="footer__container container">
    <div class="footer__copy">
      <a class="footer__copy-tittle transition" href="../../../">©ETOANIME - просмотр аниме онлайн без рекламы.</a>
      <p class="footer__copy-police">Все права защищены.</p>
    </div>
    <div class="footer__chibi">
      <picture>
        <img loading="lazy" src="https://sun9-24.userapi.com/impg/lGXY_xLEDUNg3P5UlOc8yKAIIarnYdvDdEdooQ/1ulF3yhkMRI.jpg?size=577x604&quality=96&sign=8d7cebe82b9fa78f9d426d6419de7409&type=album" class="image footer__chibi-img" width="" height="" alt="chibi">
      </picture>
    </div>
  </div>
</footer>
