<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- opengraph & description -->
  <meta property="og:title" content="Смотреть аниме онлайн без рекламы и регистрации">
  <meta property="og:site_name" content="@title">
  <!-- <meta property="og:url" content="url"> -->
  <meta property="og:description" content="Это аниме Смотреть аниме онлайн без рекламы на сайте Eto Anime">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:image:secure_ur" content="img/logo.png">
  <link rel="image_src" href="img/logo.png">
  <meta name=”Description” content="Это аниме Смотреть аниме онлайн без рекламы на сайте Eto Anime">

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#ffbd59">
  <meta name="apple-mobile-web-app-title" content="ETO ANIME?">
  <meta name="application-name" content="ETO ANIME?">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- preload fonts -->
  <!-- <link rel="preload" href="fonts/Jura-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Jura-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Jura-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Jura-Bold.woff2" as="font" type="font/woff2" crossorigin> -->

  <!-- import css -->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- anime -->
  <script defer src="anime/anime-series-1.js"></script>

  <!-- import js -->
  <script defer src="js/main.js"></script>
  <title>@title</title>
</head>
