<section class="ongoing">
  <div class="ongoing__container">
    <h2 class="ongoing__tittle">Смотреть онгоинги на сайте ETO ANIME?</h2>
    <div class="swiper anime-swiper">
      <div class="swiper-wrapper anime-swiper__ongoing">

        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>


        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>

        <div class="swiper-slide anime-swiper__ongoing-slide">
          <a class="swiper-slide anime-swiper__ongoing-slide-href" href="#no-scrolling">
            <div class="anime-swiper__ongoing-slide-prew">
              <picture>
                <img loading="lazy" src="https://moe.shikimori.one/system/mangas/original/111512.jpg?1634026424"
                  class="image anime-swiper__ongoing-slide-prew-img" width="158" height="245" alt="обложка аниме">
              </picture>
              <div class="anime-swiper__ongoing-slide-prew-score">9.4</div>
              <div class="anime-swiper__ongoing-slide-prew-series">2/24 серий</div>
            </div>
            Любимый во франксе
          </a>
        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-nav-prev"></div>
        <div class="swiper-nav-pagination"></div>
        <div class="swiper-nav-next"></div>
      </div>
    </div>
  </div>
</section>
