<section class="ongoing">
  <div class="ongoing__container">
    <h2 class="ongoing__tittle">Смотреть онгоинги на сайте ETO ANIME?</h2>
    <div class="swiper anime-swiper">
      <div class="swiper-wrapper anime-swiper__ongoing"></div>
      <div class="swiper-nav">
        <div class="swiper-nav-prev">
          <svg class="swiper-nav-prev-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="swiper-nav-pagination"></div>
        <div class="swiper-nav-next">
          <svg class="swiper-nav-next-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
